* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

body {
  width: 100vw;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.7;
  word-spacing: 1px;
}

@media (max-width: 768px) {
  body {
    font-size: 12px;
  }
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 300px;
  width: 55%;
  height: 100%;
  z-index: -1;
  opacity: 0.9;
  background-image: url(https://www.mebelvdom.ua/static/content/thumbs/1520-1520/9/25/h2oh5q-d55865b38e69d31ab2ede83e62dec259.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 1024px) {
  body::before {
    top: 20px;
    left: 300px;
    width: 50%;
  }
}

@media (max-width: 768px) {
  body::before {
    top: 0;
    left: 130px;
    width: 70%;
  }
}

@media (max-width: 425px) {
  body::before {
    top: 20px;
    left: 30px;
    width: 100%;
  }
}

.container {
  position: relative;
  padding: 15px 30px;

  @media (max-width: 768px) {
    padding: 15px 15px;
  }
}

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-items: center;
}

.header-container {
  width: 90vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-link {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid black;
  padding: 10px;

  @media (max-width: 768px) {
    border-radius: 5px;
    padding: 5px;
  }
}

.logo-link:hover,
.logo-link:focus {
  color: green;
  border-color: green;
}

.logo {
  width: 50px;
  height: 50px;

  @media (max-width: 768px) {
    width: 20px;
    height: 20px;
  }
}

.logo_name {
  font-size: 25px;
  font-weight: 700;

  @media (max-width: 768px) {
    font-size: 10px;
  }
}

.nav-list {
  display: flex;
  list-style-type: none;
}

.nav-link {
  margin: 15px;
  font-size: 20px;
  font-weight: 700;
  background-color: #fff;
  color: black;
  text-decoration: none;
  padding: 15px;
  border: 1px solid black;
  border-radius: 10px;

  @media (max-width: 768px) {
    margin: 5px;
    font-size: 10px;
    padding: 5px;
    border-radius: 5px;
  }
}

.nav-link:hover,
.nav-link:focus {
  color: green;
  border-color: green;
}

h1 {
  font-weight: 700;
  font-size: 120px;
  text-align: center;
  text-shadow: 3px 2px 5px #000000;
  color: green;
  margin-top: 100px;
  margin-bottom: 150px;

  @media (max-width: 768px) {
    font-size: 14vw;
    margin-bottom: 100px;
  }
}

#about {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.about-text {
  width: 450px;
  @media (max-width: 768px) {
    width: 100%;
  }
}

.video-section {
  display: flex;
  justify-content: center;
}

iframe {
  border-radius: 100%;
  margin-bottom: 100px;

  @media (max-width: 768px) {
    width: 300px;
    height: 300px;
  }
}

.card-section {
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px;

  @media (max-width: 767px) {
    flex-direction: column;
    align-items: center;
  }
}

.card {
  width: 230px;
  height: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to right, #52c234, #061700);
  border-radius: 8px;
  color: white;
}

@media (max-width: 767px) {
  .card {
    margin-bottom: 30px;
  }

  .card:last-child {
    margin-bottom: 0;
  }
}

.card_title {
  margin-top: 10px;
  margin-bottom: 30px;
}

.card_contents {
  font-size: 20px;
}

.card_button {
  width: 100px;
  height: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
  border-radius: 3px;
  border: none;
  background-color: #fff;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#email {
  width: 250px;
  height: 30px;
  margin-bottom: 30px;
  border-color: #52c234;
}

.email-button {
  width: 160px;
  height: 40px;
  border-radius: 5px;
  border: none;
  background: linear-gradient(to right, #52c234, #061700);
  color: white;
  margin-bottom: 100px;
}
